html,
body {
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-in-out;
  /* overflow: hidden; */
}

/* li {
    padding: 10px 25px;
    margin: 0;
    font-family: "Junicode", sans-serif;
    transition: all 0.2s ease-in-out;
  } */
/* body {
} */

/* body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
} */
h5 {
  margin: 0;
  line-height: 2;
  font-size: 24px;
  color: #fff;
  font-family: "Junicode", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
li {
  padding: 10px 25px;
  margin: 0;
  margin-right: 20px;
  font-family: "Junicode", sans-serif;
}
a,
a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.fa {
  display: none;
}
.navbar {
    position: fixed;
    width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 25px;
}
@media (max-width: 768px) {
  .two.columns,
  .ten.columns {
    width: 100%;
  }
  ul {
    flex-wrap: wrap;
    text-align: center;
  }
  .logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  li {
    width: 100%;
    padding: 10px 15px;
  }
  #mobMenu {
    display: none;
    transition: 0.2s;
  }
  .fa {
    display: block;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 10px;
    margin: 15px;
    color: #fff;
    cursor: pointer;
  }
  h5 {
    text-align: center;
  }
  .navbar {
    padding: 0;
  }
}

#main-container {
  width: 100%;
  height: 100vh;
  /* background-image: url("../../images/swanpool-beach.jpeg");  */
  /* background-image: url(../../images/mojito.jpeg);  */
  background-image: url(../../images/cocktails.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

#welcome {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 400px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#welcome-header {
  margin-top: 20px;
  font-family: "Junicode", sans-serif;
  color: white;
}

.btn {
  margin: 20px;
  font-family: "Junicode", sans-serif;
  color: white;
  border-radius: 0px;
  border: 1px solid white;
  padding: 10px 25px;
}

#food-menus {
  width: 100vw;
  height: 100vh;
  background-image: url(../../images/jerk.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#food-container {
  display: flex;
  justify-content: center;
  align-items: top;
  top: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 80%;
}
#food-container h2 {
  margin-top: 20px;
  text-align: center;
}

#food-container #lunch {
  font-family: "Junicode", sans-serif;
  color: white;
}

#food-container #dinner {
  font-family: "Junicode", sans-serif;
  color: white;
}

#food-container img {
  margin: 10px;
  width: 350px;
}

.fullscreen-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

.fullscreen-image {
  max-width: 90%;
  max-height: 90%;
}

.close-fullscreen {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

#drink-menus {
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/mojito.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  #drink-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 80%;
  }

  #cocktails {
    font-family: "Junicode", sans-serif;
    color: white;
  }

  #reservations-section {
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/restaurant.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
  }

  #reservations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    height: 80%;
  }

  #reservations {
    font-family: "Junicode", sans-serif;
    color: white;
  }